[package]
name = "husky-io-utils"
version = "0.0.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
relative-path = "1.7.2"
husky-print-utils = { path = "../husky-print-utils" }
composite-pattern = { path = "../../abstractions/composite-pattern" }
