brokenaxes==0.6.2
clearml==1.16.4
colorama==0.4.6
matplotlib==3.8.4
msgpack_python==0.5.6
numpy==2.1.2
Requests==2.32.3
scholarly==1.7.11
termcolor==2.5.0
torch==2.4.1
tqdm==4.66.4
transformers==4.45.2
wandb==0.18.3
