.HuskyTracerVSplitPanel {
    display: flex;
    flex-direction: column;
}

.HuskyTracerVSplitPanelUpper {
    background: black;
}

.HuskyTracerVSplitPanelLower {
    display: block;
    background: rgb(2, 110, 87);
}
