# Core

## Test#0

input

```husky
core
```

output

```husky
Ok(Module)
```

## Test#1

input

```husky
std
```

output

```husky
Ok(Module)
```

## Test#2

input

```husky
i32
```

output

```husky
Ok(Term(TyDecl { ty_family: Physical, parameters: [] }))
```

## Test#3

input

```husky
i64
```

output

```husky
Ok(Term(TyDecl { ty_family: Physical, parameters: [] }))
```

## Test#4

input

```husky
r32
```

output

```husky
Ok(Term(TyDecl { ty_family: Physical, parameters: [] }))
```

## Test#5

input

```husky
b64
```

output

```husky
Ok(Term(TyDecl { ty_family: Physical, parameters: [] }))
```

## Test#6

input

```husky
f32
```

output

```husky
Ok(Term(TyDecl { ty_family: Physical, parameters: [] }))
```

## Test#7

input

```husky
f64
```

output

```husky
Ok(Term(TyDecl { ty_family: Physical, parameters: [] }))
```
