# Escapes Gen

## Test#0

input

```husky
"\a"
```

output

```husky
TokenSheetData {
    tokens: [
        Err(
            UnexpectedCharAfterBackslash,
        ),
    ],
    group_starts: [
        0,
    ],
    indents: [
        0,
    ],
}
```
