.TraceTree {
    display: flex;
    flex-direction: column;
}
.Call {
    border: white 2px solid;
    margin: 2px;
}

.TraceTree.FeatureExpr,
.TraceTree.EagerExpr {
    margin: 0.5px;
    padding: 0;
    border-top: silver 3px solid;
    border-bottom: silver 1px solid;
    border-left: silver 3px solid;
    margin-bottom: 10px;
}
