.TraceStatsView {
    color: grey;
    padding-left: 20px;
    font-family: monospace;  
}

.SampleStats {
    color: rgb(113, 96, 0);
}

.ArrivalStats {
    color: rgb(146, 42, 1);
}

.NullStats {
    color: rgb(105, 105, 152);
}

.TrueStats {
    color: rgb(0, 95, 0);
}

.FalseStats {
    color: rgb(159, 0, 0);
}