.TraceTree {
    display: flex;
    flex-direction: column;
}
.Call {
    border: white 2px solid;
    margin: 2px;
}

.TraceTree.FeatureExpr,
.TraceTree.EagerExpr {
    margin: 0.5px;
    padding: 0;
    border-top: rgb(100, 100, 100) 3px solid;
    border-bottom: rgb(100, 100, 100) 1px solid;
    border-left: rgb(100, 100, 100) 3px solid;
    margin-bottom: 3px;
}
