.TraceTree {
    display: flex;
    flex-direction: column;
}
.Call {
    border: white 2px solid;
    margin: 2px;
}

.TraceTree.FeatureExpr,
.TraceTree.EagerExpr {
    margin: 0.5px;
    padding: 0;
    border: silver 2px groove;
}
