.TraceStatsView {
    color: grey;
    padding-left: 20px;
    font-family: monospace;  
}

/* .SampleStats {
    border-bottom: solid 1px rgb(113, 96, 0);
}

.ArrivalStats {
    border-bottom:  solid 1px  rgb(146, 42, 1);
}

.NullStats {
    border-bottom: solid 1px  rgb(105, 105, 152);
}

.TrueStats {
    border-bottom: solid 1px  rgb(0, 95, 0);
}

.FalseStats {
    border-bottom: solid 1px  rgb(159, 0, 0);
} */