.TraceStatsView {
    color: grey;
    padding-top: 4px;
    padding-left: 20px;
    padding-bottom: 4px;
    font-family: monospace;  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.TraceStatsView div {
    width: 14ch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1ch;
    padding-right: 1ch;
}

.TraceNode .TraceNodeInternal.active div.ArrivalStats:hover {
    background-color: rgb(49, 49, 49);
}

.TraceNode .TraceNodeInternal.active div.ReturnStats:hover {
    background-color: rgb(49, 49, 49);
}
/* .SampleStats {
    border-bottom: solid 1px rgb(113, 96, 0);
}

.ArrivalStats {
    border-bottom:  solid 1px  rgb(146, 42, 1);
}

.NullStats {
    border-bottom: solid 1px  rgb(105, 105, 152);
}

.TrueStats {
    border-bottom: solid 1px  rgb(0, 95, 0);
}

.FalseStats {
    border-bottom: solid 1px  rgb(159, 0, 0);
} */