.TraceNode {
    padding: 2px;
    padding-right: 3px;
}
.TraceNodeInternal {
    padding: 0px;
}
.active {
    outline: rgb(202, 132, 2) solid 2px;
}

.TraceNode {
    opacity: 0.35;
}

.TraceNode.reachable {
    opacity: 1;
}
