.TraceLine {
    height: 22px;
    margin: 0;
    padding: 0;
    cursor: default;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
p.TraceLineLeft {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
}
.TraceLineRight {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.TraceLine span {
    display: flex;
    align-items: center;
    color: rgb(156, 203, 172);
}
.TraceLine.unreachable {
    opacity: 0.35;
}
