# Identifier

## Test#0

input

```husky
self
```

## Test#1

input

```husky
Self
```
