# Literal

## Test#0

input

```husky
"haha"
```

output

```husky
[
    Token {
        range: [1:1, 1:7),
        kind: Literal(
            String(
                StringLiteral {
                    data: "haha",
                },
            ),
        ),
    },
]
```
