[package]
name = "floated-parallel-macros"
version.workspace = true
rust-version.workspace = true
authors.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
readme.workspace = true
license.workspace = true
categories.workspace = true
keywords.workspace = true

[lib]
proc-macro = true

[dependencies]
convert_case.workspace = true
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true
# utils
husky-proc-macro-utils.workspace = true

[lints]
workspace = true
