.GenericI32 {
    display: flex;
    flex-direction: row;
}

.GenericI32Bin {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-right: 3px solid black;
}
.GenericI32BinPartitions {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
.GenericI32BinLabel {
    display: flex;
    justify-content: center;
    height: 25px;
    background: white;
}
.GenericI32Sample {
    height: 10px;
    background: rgb(177, 38, 241);
}

.GenericI32Sample:hover {
    border: 1px solid orange;
    box-sizing: border-box;
}
