.GenericF32 {
    display: flex;
    flex-direction: row;
}

.GenericF32PlotRegion{
    background: black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.GenericF32PlotRegion svg {
    height: 100%;
    width: 100%;
    background: rgb(49, 49, 49);
}

.GenericF32PlotRegion circle.ClassIndex0 {
    fill: magenta
}

.GenericF32PlotRegion circle.ClassIndex1 {
    fill: blue
}

.GenericF32PlotRegion circle.focused {
    stroke: orange;
    stroke-width: 1px 
}

.TickValueText {
    fill: white
}