.PartitionCanvas {
    display: flex;
    flex-direction: column;
}
.PartitionTopBar {
    height: 1.5em;
    overflow: hidden;
}
.PartitionTopBar:hover .PartitionTitle {
    height: 0;
    display: none;
}
.PartitionTitle {
    height: 1.5em;
    background: grey;
}
.PartitionSamples {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.SampleWrapper {
    border: 1px solid brown;
}
