.PartitionCanvas {
    display: flex;
    flex-direction: column;
}
.PartitionTitle {
    width: 100%;
    background: grey;
}
.PartitionSamples {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.SampleWrapper {
    border: 1px solid brown;
}
