[package]
name = "husky-websocket-utils"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
atomic_enum.workspace = true
axum = { workspace = true, features = ["ws"], optional = true }
tokio.workspace = true
tokio-tungstenite.workspace = true
thiserror.workspace = true
futures-util.workspace = true
serde.workspace = true
serde_json = { workspace = true, optional = true }
tracing.workspace = true
tracing-subscriber.workspace = true
tower-http.workspace = true
# abstractions
serde-impl = { path = "../../abstractions/serde-impl" }
notify-change = { path = "../../abstractions/notify-change" }
# utils
husky-print-utils.workspace = true

[features]
serde_json = ["dep:serde_json"]
imgui_client = []
easy_server = ["dep:axum"]
