[package]
name = "husky-path-utils"
version = "0.0.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
relative-path = "1.7.2"
pathdiff = "0.2.1"
husky-print-utils = { path = "../husky-print-utils" }
husky-check-utils = { path = "../husky-check-utils" }

[dev-dependencies]
expect-test = "1.4.0"
