[package]
name = "husky-path-utils"
version = "0.0.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
thiserror.workspace = true
relative-path = "1.7.2"
pathdiff = "0.2.1"
# abstractions
salsa.workspace = true
# kernel
husky-coword.workspace = true
# utils
husky-print-utils.workspace = true
husky-check-utils = { path = "../../utils/husky-check-utils" }
husky-minimal-toml-utils = { path = "../../utils/husky-minimal-toml-utils" }

[dev-dependencies]
expect-test.workspace = true
husky-path-utils = { path = ".", features = ["test_utils"] }

[features]
test_utils = ["salsa/test_utils"]
