.TraceLineStart {
    display: flex;
    transition: transform 50ms;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20px;
}
.TraceLineStart svg {
    fill: rgb(182, 182, 182);
}
.TraceLineStart.expanded {
    transform: rotate(90deg);
}
