.TraceLineStart {
    display: flex;
    transition: transform 50ms;
    font-size: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20px;
}
.TraceLineStart:not(:hover) {
    color: transparent;
}
.TraceLineStart.has_subtraces {
    font-size: 10px;
    text-align: center;
}
.TraceLineStart.has_subtraces.expanded {
    transform: rotate(90deg);
}
