.TraceLineStart {
    display: flex;
    transition: transform 50ms;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20px;
}
.TraceLineStart svg {
    fill: rgb(132, 132, 132);
}
.TraceLineStart.expanded {
    transform: rotate(90deg);
}
.TraceLineStart:hover svg {
    fill: white;
}
