.TraceExpansion {
    display: flex;
    transition: transform 50ms;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20px;
}
.TraceExpansion svg {
    fill: rgb(182, 182, 182);
}
.TraceExpansion.expanded {
    transform: rotate(90deg);
}
