span.TraceArrival {
    color: rgb(27, 167, 210);
}
.TraceLineRight:not(:hover) .TraceArrival.ignored {
    color: rgb(56, 56, 56);
}
.TraceLineRight:hover .TraceArrival.ignored {
    color: grey;
}
.TraceArrivalRefinedControl {
    border-radius: 3px;
    border: 3px solid grey;
    border-style: inset;
    background: grey;
    color:rgb(85, 85, 85);
}

.StrikeEvil.Inactive:hover {
    color: rgb(102, 102, 15);
}
.StrikeEvil.Active {
    color: yellow;
}