code.TraceToken {
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}

code.TraceToken.associated_trace_shown {
    text-decoration: underline cyan;
    text-underline-position: under;
}

code.TraceToken.associated:hover {
    background: rgb(78, 78, 78);
}

.TraceToken.keyword {
    color: rgb(28, 142, 195);
}

.TraceToken.mod {
    color: brown;
}

.TraceToken.label {
    color: rgb(28, 142, 195);
}

.TraceToken.special {
    color: white;
}

.TraceToken.visibility {
    color: rgb(189, 189, 105);
}

.TraceToken.literal {
    color: rgb(18, 155, 75);
}

.TraceToken.fade {
    color: rgb(97, 97, 97);
}

.TraceToken.error {
    color: red;
}

.ident {
    color: rgb(135, 164, 167);
}