[package]
name = "husky-hir-decl"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
smallvec.workspace = true
thiserror.workspace = true
# abstractions
salsa.workspace = true
enum-class.workspace = true
# hir
husky-hir-ty.workspace = true
husky-hir-eager-expr.workspace = true
husky-hir-lazy-expr.workspace = true
husky-hir-expr.workspace = true
# fs
husky-vfs.workspace = true
# kernel
husky-coword.workspace = true
husky-ethereal-term.workspace = true
husky-entity-kind.workspace = true
husky-entity-path.workspace = true
husky-ethereal-signature.workspace = true
husky-fluffy-term.workspace = true
husky-term-prelude.workspace = true
# semantics
husky-sema-expr.workspace = true
# syntax
husky-entity-syn-tree.workspace = true
husky-syn-expr.workspace = true
husky-syn-decl.workspace = true
# utils
husky-print-utils.workspace = true

[dev-dependencies]
# abstractions
salsa = { path = "../../abstractions/salsa", features = ["test_utils"] }
# kernel
# infer
husky-manifest.workspace = true
husky-corgi-config.workspace = true
# lex
husky-token-data.workspace = true
husky-token.workspace = true
husky-toml-token.workspace = true
# kernel
husky-declarative-term.workspace = true
husky-declarative-ty.workspace = true
husky-declarative-signature.workspace = true
# syntax
husky-ast = { workspace = true, features = ["test_utils"] }
husky-toml-ast.workspace = true
husky-manifest-ast.workspace = true
husky-syn-decl.workspace = true
husky-corgi-config-ast.workspace = true
husky-syn-expr.workspace = true
husky-syn-defn.workspace = true
husky-hir-decl = { path = ".", features = ["test_utils"] }

[features]
test_utils = ["salsa/test_utils"]
