.FigureView {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(101, 163, 165);
}
.FigureContent {
    width: 95%;
    height: 92%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FigureCanvasContainer {
    border: black solid 2px;
    width: 80%;
    border-right: 0px;
    background: black;
}

.FigureControlContainer {
    border: black solid 2px;
    width: 20%;
}

.FigureView svg .red {
    fill: red;
}
.FigureView svg .yellow {
    fill: yellow;
}
.FigureView svg .green {
    fill: green;
}
.FigureView svg .blue {
    fill: blue;
}
