.RestrictionView {
    color: rgb(254, 254, 254);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    font-family: monospace;
}
.RestrictionKind {
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(136, 0, 143);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 8ch;
}

#sample-id-name {
    padding-left: 10px;
    padding-right: 10px;
}

#sample-id-value {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    color: black;
}
